{% extends 'base.html' %}
{% block title %}Create a new Post{% endblock %}

{% block content %}



{% if user.is_authenticated %}

<h1>Edit your post</h1>
<br/><br/><br/>

<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-dark">Add Post</button>

</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("peeters").value
        = name;
</script>    
{% else %}

Please register or login!

{% endif %}

{% endblock %}