{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}



<h3>{{ post.title }}</h3>
<small> By: {{ post.author.first_name }} {{ post.author.last_name }} - 
    {{ post.publication_date }} -

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
    <a href="{% url 'edit_post' post.pk %}">(Edit your post)</a>

    <a href="{% url 'delete_post' post.pk %}">(delete)</a>


        {% endif %}
    {% endif %}
</small><br/>

{% if post.head_img %}
<img src="{{ post.head_img.url }}">
{% endif %}

<br/><br/>
{{ post.content|safe }}

<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

<br/><br/>
<hr>
<br/>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    
    {% else %}

    <small><a href="{% url 'login' %}">login to like</a></small>

    {% endif %}

    - {{ total_likes }} Likes
</form>

<br/><br/>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if post.author.userprofile.avatar %}
        <img src="{{ post.author.userprofile.avatar.url }}" class="img-fluid rounded-start" alt="...">
        
        {%else %}
        <img src="{% static 'marktechblog/images/default_profile_pic.png' %}" class="img-fluid rounded-start" alt="...">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
              {{ post.author.first_name }} 
              {{ post.author.last_name }}</h5>
          <p class="small text-muted">

            <a href="{% url 'show_profile_page' post.author.userprofile.id %}">Profile Page</a>
          
            {% if post.author.userprofile.website_url %}  
            <a href="{{ post.author.userprofile.website_url }}">website</a> |
            {% endif %} 
           
            {% if post.author.userprofile.instagram_url %}  
            <a href="{{ post.author.userprofile.instagram_url }}">instagram</a> |
            {% endif %} 
          
            {% if post.author.UserProfile.twitter_url %}  
            <a href="{{ post.author.userprofile.twitter_url }}">twitter</a> |
            {% endif %} 
           
            {% if post.author.userprofile.linkedin_url %}  
            <a href="{{ post.author.userprofile.linkedin_url }}">linkedin</a> 
            {% endif %} 
            
          </p>
          <p class="card-text">{{ post.author.userprofile.bio }}</p>
          
        </div>
      </div>
    </div>
  </div>



{% endblock %}

