{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}



<h3>{{ post.title }}</h3>
<small> By: {{ post.author.first_name }} {{ post.author.last_name }} - 
    {{ post.publication_date }} -

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
    <a href="{% url 'edit_post' post.pk %}">(Edit your post)</a>

    <a href="{% url 'delete_post' post.pk %}">(delete)</a>


        {% endif %}
    {% endif %}
</small><br/>

{% if post.head_img %}
<img src="{{ post.head_img.url }}">
{% endif %}

<br/><br/>
{{ post.content|safe }}

<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

<br/><br/>
<hr>
<br/>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    
    {% else %}

    <small><a href="{% url 'login' %}">login to like</a></small>

    {% endif %}

    - {{ total_likes }} Likes
</form>

<br/><br/>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
            {{ post.author.first_name }} 
              {{ post.author.last_name }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

<img src="{{ post.author.userprofile.avatar.url }}" width=150 height=150 class="rounded-pill" alt="avatar">

{% endblock %}

