{% extends 'base.html' %}
{% block content %}


<h1>Post Board</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.publication_date }}
        <small><a href="{% url 'edit_post' post.pk %}">(Edit)</a>
        
        <a href="{% url 'delete_post' post.pk %}">(delete)</a>
        </small><br/>
        {{ post.body }}</li>
    
   
{% endfor %}
</ul>

{% endblock %}